<div class="container">

<h1>Ember Reddit Search</h1>

<form onsubmit={{action "searchForSubreddit"}}>
    {{input type="text" value=keywords}}
    <button type="submit">Search</button>
</form>

{{outlet}}

Emails:
{{#each emails as |email|}}
  {{unread-email email=email readEmail=(action "markAsRead")}}
{{/each}}

</div>
